<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.5" targetFramework="net45" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net45" />
  <package id="MindFusion.Charting.Wpf" version="3.5.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Sparrow.Chart.Wpf" version="13.1.0.118" targetFramework="net45" />
  <package id="Toolkit.Charting" version="1.0.5755.26422" targetFramework="net45" />
  <package id="Toolkit.Charting.Web" version="1.0.5755.26424" targetFramework="net45" />
  <package id="Toolkit.CodeBase" version="1.0.5755.26406" targetFramework="net45" />
  <package id="Toolkit.CommonResources" version="1.0.5752.30666" targetFramework="net45" />
  <package id="Toolkit.Data" version="1.0.5755.26407" targetFramework="net45" />
  <package id="Toolkit.Drawing" version="1.0.5755.26408" targetFramework="net45" />
  <package id="Toolkit.Runtime" version="1.0.5755.26410" targetFramework="net45" />
  <package id="Toolkit.Scripting" version="1.0.5755.26411" targetFramework="net45" />
  <package id="Toolkit.Web" version="1.0.5755.26409" targetFramework="net45" />
</packages>