<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.serviceModel>
  <services>
    <service name="ConsoleApplication1.MyDiskInfo">
      <endpoint address="http://localhost/MyMath/Ep1" binding="basicHttpBinding" contract="ConsoleApplication1.IMyDiskInfo"  />
    </service>
  </services>
</system.serviceModel>
</configuration>