<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="CSApp" connectionString="Data Source=(localdb)\v11.0;AttachDbFilename=E:\ADO.NET\Day2\DB2010\Registration.mdf;Integrated Security=True;Timeout=5"/>

  </connectionStrings>
</configuration>