
@{
    ViewBag.Title = "Index";
}

<h2>General - Hote - Index</h2>

<p>@Html.ActionLink("General - About", "About")</p>
<p>@Html.ActionLink("General - Contacts", "Contacts")</p>

<p>@Html.ActionLink("Products - Hote - Index", "Index", new { controller="Hote", area="Admin"})</p>
