<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="mex" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MyDisk/Ep1" binding="basicHttpBinding"
                bindingConfiguration="mex" contract="ServiceReference1.IMyDiskInfo"
                name="mex" />
        </client>
    </system.serviceModel>
</configuration>