
@{
    ViewBag.Title = "Index";
}

<h2>Admin - Hote - Index</h2>

<p>@Html.ActionLink("Products - Index", "Index", "Products")</p>
<p>@Html.ActionLink("Products - Create", "Create", "Products")</p>
<p>@Html.ActionLink("Products - Delete", "Delete", "Products")</p>

<p>@Html.ActionLink("General - Hote - Index", "Index", new { controller = "Hote", area = "" })</p>