/*FOR ALL PAGES*/

body {
    margin-top: 0;
    line-height: 1.8;
    font-size: 11pt;
    /*font-family: "Lato";*/
    letter-spacing: 1px;
    font-weight: 300;
    color: #7C7878;
}

main {
    width: 95%;
    margin: auto;
    clear: both;
}

img{
    width: 100%;
}

a {
    text-decoration: none;
}

p {
    display: block;
}

.container {
    width: 100%;
    height: auto;
    margin: auto;
}

input:focus {
    outline: none;
}

ul {
    display: inline-block;
    float: left;
    margin: 0;
}

li {
    display: inline-block;
}

li a.instagram{
    background: url(images/instagram.png) no-repeat;
    background-size: 10px auto;
    padding-left: 19px;
    font-size: 10px;
    color: black;
}

li a.twitter{
    background: url(images/twitter.png) no-repeat;
    background-size: 10px auto;
    padding-left: 19px;
    font-size: 10px;
    color: black;
}

.block {
    margin-bottom: 25px;
}

.block:before, .block:after, .nav:before, .nav:after {
    display: table;
    content: "";
}

.block:after, .nav:after {
    clear: both;
}

.header-logo {
    display: inline-block;
    width: 200px;
    height: auto;
    float: left;
    margin-top: 20px;
}

.top{
    height:35px;
    width:100%;
    background: #F1F4F5;
    padding-top: 10px;
}

.top ul li {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
    font-size: 11px;
    text-decoration: none;
}

.top ul li a, .nav-menu li a{
    text-decoration: none;
}

.top input {
    float: right;
    background: url(images/search.png) no-repeat;
    background-size: 10px auto;
    margin-right: 1%;
    border-bottom: 1px solid rgb(211,213,213);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 19px;
}

.navigation {
    display: inline-block;
    float: right;
}

.nav {
    border-top: 1px solid rgb(211,213,213);
    width: 100%;
}

.nav-menu {
    margin-top: 25px;
}

.nav-menu li {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.compact-nav {
    display: none;
    width: 90%;
    margin: 10px auto;
    height: 30px;
    background: #A7A5A6;
    line-height: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

menu a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 14px;
    letter-spacing: 2px;
}

/*.hidden-menu li {*/
    /*display: block;*/
    /*text-align: center;*/
    /*width: 100%;*/
    /*font-weight: normal;*/
    /*padding: 10px 0;*/
    /*border-bottom: 1px solid rgb(211,213,213);*/
    /*letter-spacing: 2px;*/
    /*line-height: 1;*/
    /*text-transform: uppercase;*/
    /*color: black;*/
    /*font-size: 16px;*/
/*}*/

/*.hidden-menu {*/
    /*display: block;*/
    /*width: 90%;*/
    /*margin: 0 auto;*/
    /*padding: 0;*/
/*}*/

.line-span{
    margin: 0 auto;
    margin-top: -15px;
    margin-bottom: 20px;
    height: 30px;
    display: table;
    background: #FFF;
    text-transform: uppercase;
    color: rgb(167,165,166);
    letter-spacing: 8px;
    font-size: 11px;
    font-family: "Raleway";
    text-align: center;
    line-height: 30px;
    padding: 0 10px;
}

.articles {
    display: inline-block;
    width: 32%;
    float: left;
    margin: 0 0.66%;
}

.read-more {
    display: block;
    color: #a7a5a6;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'MinionPro-Regular';
    font-size: 0.7em;
    border: 2px solid #cecece;
    float: left;
    padding: 12px 30px 10px 30px;
    line-height: 1;
    margin-bottom: 40px;
}

.latest-title {
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: normal;
    color: #000;
    font-family: 'MontserratRegular';
}

.latest-date {
    display: block;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(123,121,121);
    font-family: 'MinionPro-It';
}

.textbox-footer {
    border: 1px solid #cecece;
    padding: 6px 10px;
    background: white;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 10px;
    font-family: 'MinionPro-Regular';
    line-height: 1;
    width: 100%;
}

.singup {
    width: 95%;
    margin: auto;
    overflow: visible;
    border: 1px solid #cecece;
    padding-bottom: 40px;
}

.inner-singup {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

.submit-button {
    float: right;
    margin: 7px 0;
    width: 115px;
    line-height: 22px;
    background-color: rgb(167,165,166);
    color: #FFFFFF;
    letter-spacing: 2px;
    font-size: 11px;
    cursor: pointer;
    font-family: 'MinionPro-Bold';
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -22px;
}



/* FOR CONTACT PAGE*/

.contacts a {
    width: 60%;
    margin: auto;
    display: block;
    background-color: rgb(167,165,166);
    padding: 10px 0;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'MinionPro-Regular';
    text-decoration: none;
    color: black;
    font-size: 12px;
    letter-spacing: 1px;
}

.contact-title {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: bold;
    color: #000;
}

.contact-email {
    color: blue;
}



/*FOR ARTICLE PAGES*/

.autor-photo img {
    -webkit-border-radius: 100%;
}

.autor-photo {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0;
    float: left;
    margin-right: 20px;
}

.autor-info {
    color: rgb(167,165,166);
    display: block;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 30px;
    letter-spacing: 3px;
    font-size: 0.6em;
}

.art {
    float: left;
    width: 65%;
    display: inline-block;
    padding-right: 2%;
}

.asside {
    margin-top: 40px;
    width: 30%;
    padding-left: 2%;
    float: right;
    border-left: 1px solid rgb(211,213,213);
}

.articles-page div{
    display: inline-block;
    width: 45%;
    margin: 2.3%;
    float: left;
}


/*FOR VIDEO PAGE*/

.block-iframe {
    width: 100%;
    margin: 0 auto;

}